# -*- coding: utf-8 -*-
from app.models import SettingsModel
from app.views import MainWindowView
from pyqtier import PyQtierWindowsManager
from app.templates import Ui_MainWindow


class WindowsManager(PyQtierWindowsManager):
    def setup_manager(self):
        self.setup_main_window(Ui_MainWindow, MainWindowView, SettingsModel)

        # Adding behaviours to widgets (must be the last section)
        self.main_window.add_behaviour()
